<h1>Listing relateds</h1>

<table>
  <thead>
    <tr>
      <th>Weburl</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @relateds.each do |related| %>
      <tr>
        <td><%= related.weburl %></td>
        <td><%= link_to 'Show', related %></td>
        <td><%= link_to 'Edit', edit_related_path(related) %></td>
        <td><%= link_to 'Destroy', related, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Related', new_related_path %>
