<%= form_for(@runner) do |f| %>
  <% if @runner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@runner.errors.count, "error") %> prohibited this runner from being saved:</h2>

      <ul>
      <% @runner.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :firstname %><br>
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br>
    <%= f.text_field :lastname %>
  </div>

  <%= f.fields_for :shoes, @runner.shoes do |shoe_fields| %>
   <div class="field">
    <%= f.label :size %><br>
    <%= shoe_fields.text_field :size %>
</div>
    <div class="field">
    <%= f.label :shoe_type %><br>
    <%= shoe_fields.text_field :shoe_type %>
</div>
    <div class="field">
    <%= f.label :make %><br>
    <%= shoe_fields.text_field :make %>
    </div>
<% end %>




  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
