<p id="notice"><%= notice %></p>

<p>
  <strong>Runner Full Name:</strong>
  <%= @runner.fullname %>
</p>

<p>
  <strong>Shoe Size:</strong>
  <%= @runner.shoes.size %>
</p>

<p>
  <strong>Shoe type:</strong>
  <%= @runner.shoes.size %>
</p>

<p>
  <strong>Shoe make:</strong>
  <%= @runner.shoes.size %>
</p>

<%= link_to 'Edit', edit_runner_path(@runner) %> |
<%= link_to 'Back', runners_path %>
