<%= form_for [:iadmin, @slider], :url =>  [:iadmin, @slider], :html => { :multipart => true } do |f| %>
  <% if @slider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@slider.errors.count, "error") %> prohibited this slider from being saved:</h2>

      <ul>
      <% @slider.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, 'Title' %><br>
    <%= f.text_field :title %>
  </div> 

 <ol>
  <%= f.fields_for :slides do |slide| %>
 <li> 
  <div class="slide_fields">
  <div class="field">
    <%= slide.label :description, 'Description' %><br />
    <%= slide.text_field :description %>
  </div>
  <div class="field">
    <%= slide.label :image_slide, 'Slide Image' %><br />
    <%= slide.file_field :image_slide %>
  </div>
  <div class="field">
    <%= slide.hidden_field :_destroy, :class => 'hidden' %><br />
    <%= link_to "Remove", "#", :class => 'hideslide' %>
  </div>
<div class="field">
    <%= slide.label :_destroy, "Destroy" %>
  </div>
</div>
<%= link_to "Show", "#", :class => 'showslide' %>
</li>

  <% end %>

</ol>

<div class="form-actions">
     <%= f.submit 'Save', :class =>'btn btn-primary' %>
  <%= link_to 'Cancel', iadmin_sliders_path, :class=> "btn" %>
  </div>
<% end %>
