<%= content_tag_for :li, f.object do %>
  <span class="handle">[Drag]</span>
  <%= f.label :description, 'Description' %><br />
  <%= f.text_field :description %>
  <%= f.label :image_slide, 'Slide Image' %><br />
  <%= f.file_field :image_slide %>
  <%= image_tag f.object.image_slide.url(:medium) if f.object.image_slide %>
  <%= f.hidden_field :_destroy, :class => 'hidden' %><br />
  <button type="button" class="btn btn-default"><%= link_to "Remove", "#", :class => 'remove_fields' %></button>
<% end %>